<nav class="flex gap-3 uppercase text-lg">
  <a
    class="no-underline hover:underline"
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
  >
  <a class="no-underline hover:underline" routerLink="/test-error" routerLinkActive="active"
    >test error</a
  >
  <a class="no-underline hover:underline" routerLink="/not-found">notfound</a>
  <a class="no-underline hover:underline" routerLink="/weather">weather</a>
  <a class="no-underline hover:underline" routerLink="/prime">weather</a>
</nav>
