<div class="toolbar">
  <div class="toolbar__heading">
    <h1 class="toolbar__title">{{ 'SCHEDULE_TOOLBAR.TITLE' | translate }}</h1>
    <p class="toolbar__subtitle">
      <i class="pi pi-calendar" aria-hidden="true"></i>
      {{ dateRangeLabel() }}
    </p>
  </div>

  <div class="toolbar__controls">
    <div
      class="view-switch"
      role="group"
      [attr.aria-label]="'SCHEDULE_TOOLBAR.CALENDAR_VIEW_ARIA' | translate"
    >
      @for (option of viewOptions; track option.mode) {
        <button
          type="button"
          class="view-switch__btn"
          [class.view-switch__btn--active]="viewMode() === option.mode"
          (click)="onViewModeSelect(option.mode)"
        >
          <i
            class="pi"
            [class.pi-calendar]="option.mode === 'week'"
            [class.pi-sun]="option.mode === 'day'"
            aria-hidden="true"
          ></i>
          <span>{{ 'SCHEDULE_TOOLBAR.' + option.mode.toUpperCase() | translate }}</span>
        </button>
      }
    </div>

    <div class="date-nav">
      <button
        type="button"
        class="date-nav__btn"
        (click)="onPrevious()"
        [attr.aria-label]="'SCHEDULE_TOOLBAR.PREVIOUS' | translate"
        [pTooltip]="'SCHEDULE_TOOLBAR.PREVIOUS' | translate"
        tooltipPosition="bottom"
      >
        <i class="pi pi-chevron-left"></i>
      </button>
      <button type="button" class="date-nav__today" (click)="onToday()">
        {{ 'SCHEDULE_TOOLBAR.TODAY' | translate }}
      </button>
      <button
        type="button"
        class="date-nav__btn"
        (click)="onNext()"
        [attr.aria-label]="'SCHEDULE_TOOLBAR.NEXT' | translate"
        [pTooltip]="'SCHEDULE_TOOLBAR.NEXT' | translate"
        tooltipPosition="bottom"
      >
        <i class="pi pi-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
