<div class="toast-wrapper">
  @for (toast of snackbar.toasts(); track toast.id) {
    <div class="toast toast-{{ toast.type }}">
      <span class="toast-icon">
        @switch (toast.type) {
          @case ('success') { <i class="ti ti-circle-check"></i> }
          @case ('error')   { <i class="ti ti-circle-x"></i> }
          @case ('warning') { <i class="ti ti-alert-triangle"></i> }
          @case ('info')    { <i class="ti ti-info-circle"></i> }
        }
      </span>
      <span class="toast-body">
        <span class="toast-title">{{ toast.title }}</span>
        @if (toast.messages.length > 0) {
          <ul class="toast-messages">
            @for (msg of toast.messages; track msg) {
              <li>{{ msg }}</li>
            }
          </ul>
        }
      </span>
      <button class="toast-close" (click)="snackbar.remove(toast.id)">
        <i class="ti ti-x"></i>
      </button>
    </div>
  }
</div>