<div class="toast-wrapper">
  @for (toast of snackbar.toasts(); track toast.id) {
    <div class="toast animate-fade-in-up" [class]="'toast-' + toast.type">
      <span class="toast-icon">
        @switch (toast.type) {
          @case ('success') { <i class="pi pi-check-circle"></i> }
          @case ('error')   { <i class="pi pi-times-circle"></i> }
          @case ('warning') { <i class="pi pi-exclamation-triangle"></i> }
          @case ('info')    { <i class="pi pi-info-circle"></i> }
        }
      </span>
      <span class="toast-body">
        <span class="toast-title">{{ toast.title }}</span>
        @if (toast.messages.length > 0) {
          <ul class="toast-messages">
            @for (msg of toast.messages; track msg) {
              <li>{{ msg }}</li>
            }
          </ul>
        }
      </span>
      <button class="toast-close" (click)="snackbar.remove(toast.id)" aria-label="Close">
        <i class="pi pi-times"></i>
      </button>
    </div>
  }
</div>
